<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.user.mapper.UmsMemberTaskMapper">

    <resultMap type="com.yz.mall.user.domain.UmsMemberTask" id="UmsMemberTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="growth" column="growth" jdbcType="INTEGER"/>
        <result property="intergration" column="intergration" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

</mapper>

